<div id="embeddedViewStyle" class="content-wrapper">
  <!-- Header -->
  <mat-card-header class="d-flex justify-content-center">
    <!-- Filter -->
    <div>
      <input type="text" class="form-control" placeholder="Search for songs..." [(ngModel)]="filter" (keyup.enter)="applyFilter()" aria-label="Filter">
    </div>
  </mat-card-header>
  <div class="bottom-space"></div>
  <mat-card-content>
    <!-- Song List -->
    <div class="p-2">
      <div class="song-list">
        <mat-card *ngFor="let song of availableSongs.data" class="song-card" (click)="navigateToSong(song.id)">
          <div class="song-image-container"></div>
          <mat-card-content>
            <span class="song-name">{{ song.name }}</span>
            <br>
            <span class="song-artist">{{ song.artist }}</span>
            <br>
            <span class="song-genre">{{ song.genre }}</span>
          </mat-card-content>
          <mat-card-actions>
            <div class="d-flex align-items-center">
              <div *ngIf="song.userId === this.userId || this.tokenService.isAdmin()">
                <button mat-button color="warn" class="delete-button" (click)="deleteSong(song.id); $event.stopPropagation();">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <!-- Paginator -->
      <div class="d-flex justify-content-center">
        <mat-paginator #paginator [length]="length" [pageSize]="5" (page)="handlePageEvent($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</div>
