<div id="embeddedViewStyle" class="content-wrapper">
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <!-- First mat-card (User Details) -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <mat-card id="user-details-box">
          <!-- Username -->
          <p class="fw-bold">
            Followers: <span class="text-success">{{ userDetails?.followerCount }}</span>
          </p>
          <mat-card-title class="fw-bold d-flex justify-content-center">
            {{ userDetails?.username || 'Loading...' }}
          </mat-card-title>
          &nbsp;
          <!-- Avatar Section -->
          <mat-card-content>
            <div class="d-flex justify-content-center">
              <div class="avatar-container">
                <div
                  class="image-container"
                  *ngIf="fileUrl; else placeholder"
                  [ngClass]="{'box-shadow-avatar': !!selectedFile}"
                  [ngStyle]="{backgroundImage: 'url(' + fileUrl + ')'}"
                ></div>
                <ng-template #placeholder>
                  <div class="image-container avatar-placeholder"></div>
                </ng-template>
                <label for="avatar-input-file" *ngIf="!this.userIdParam">
                  <div class="icon-wrapper">
                    <input
                      type="file"
                      id="avatar-input-file"
                      accept="image/*"
                      (change)="onFileChange($event)"
                    />
                    <!-- Upload or Delete icon -->
                    <span class="material-symbols-outlined" *ngIf="!fileUrl">
                      upload
                    </span>
                    <span class="material-symbols-outlined" *ngIf="fileUrl" (click)="deleteAvatar()">
                      delete
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </mat-card-content>
          <!-- Profile Fields -->
          <mat-card-content>
            <form [formGroup]="userProfileForm" #formDirective="ngForm">
              <!-- Email -->
              <div class="d-flex justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required />
                  <mat-error *ngIf="userProfileForm.get('email')?.hasError('required')">
                    <strong>Email is required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Role -->
              <div class="row justify-content-center" *ngIf="this.tokenService.isAdmin()">
                <mat-form-field class="inputFields">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- Birthdate -->
              <div class="d-flex justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>Date of birth (DD.MM.YYYY)</mat-label>
                  <input
                    matInput
                    formControlName="birthDate"
                    [matDatepicker]="picker"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                    matTooltip="Enter date"
                    aria-label="Enter date"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="userProfileForm.get('birthDate')?.hasError('required')">
                    <strong>Date of Birth is required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Country -->
              <div class="d-flex justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" required />
                  <mat-error *ngIf="userProfileForm.get('country')?.hasError('required')">
                    <strong>Country is required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <!-- Save Button -->
          <mat-card-actions class="d-flex justify-content-center">
            <div class="d-grid gap-2 col-4 mx-auto">
              <button mat-button (click)="saveChanges()">Save</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="spacer"></div>

    <!-- Second mat-card (Password Change Section) -->
    <div class="row justify-content-center" *ngIf="!this.userIdParam">
      <div class="col-auto">
        <mat-card id="user-details-box">
          <mat-card-title class="d-flex justify-content-center mb-3">Password Change</mat-card-title>
          <mat-card-content>
            <form [formGroup]="passwordForm" #formDirective="ngForm">
              <div class="row justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>Old Password</mat-label>
                  <input
                    matInput
                    [type]="'password'"
                    id="input-old-password"
                    formControlName="oldPassword"
                    required
                  />
                </mat-form-field>
              </div>

              <div class="row justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>New Password</mat-label>
                  <input
                    matInput
                    [type]="'password'"
                    id="input-new-password"
                    formControlName="newPassword"
                    required
                  />
                </mat-form-field>
              </div>

              <div class="row justify-content-center">
                <mat-form-field class="inputFields">
                  <mat-label>Confirm New Password</mat-label>
                  <input
                    matInput
                    [type]="'password'"
                    id="confirm-new-password"
                    formControlName="confirmNewPassword"
                    required
                  />
                </mat-form-field>
              </div>
            </form>
          </mat-card-content>
          <!-- Save Button -->
          <mat-card-actions class="d-flex justify-content-center">
            <div class="d-grid gap-2 col-4 mx-auto">
              <button mat-button (click)="changePassword()">Save</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- Space -->
  <div class="bottom-space"></div>
</div>
