<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 0;">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Search form -->
      <form class="input-group w-auto my-auto d-none d-sm-flex">
        <input
          autocomplete="off"
          type="search"
          class="form-control rounded"
          placeholder="Search"
        />
      </form>
    </div>
    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <button mat-raised-button (click)="navigateToHome()" matTooltip="Home" aria-label="Home">
          <i class="fa-solid fa-house"></i>
          Home
        </button>
      </li>
      <li class="nav-item me-3 me-lg-1 active" *ngIf="this.tokenService.isAdmin()">
        <button mat-raised-button (click)="navigateToUserManagement()" matTooltip="User Management" aria-label="User Management">
          <i class="fa-solid fa-users"></i>
          User Management
        </button>
      </li>
    </ul>
    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-3 me-lg-1">
        <div *ngIf="!this.loginService.isAuthenticated()">
          <button mat-raised-button (click)="navigateToLogin()" matTooltip="Login" aria-label="Login">
            <i class="fa-solid fa-right-to-bracket mr-2"></i>
            Login
          </button>
          <button mat-raised-button (click)="navigateToSignUp()" matTooltip="Sign Up" aria-label="Sign Up">
            <i class="fa-solid fa-user-plus mr-2"></i>
            Sign Up
          </button>
        </div>
        <div *ngIf="this.loginService.isAuthenticated()">
          <button mat-raised-button [matMenuTriggerFor]="menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateToMyProfile()" matTooltip="My Profile" aria-label="My Profile">
              <i class="fa-solid fa-user mr-2"></i>
              My Profile
            </button>
            <button mat-menu-item matTooltip="My Profile" aria-label="My Profile">
              <i class="fa-solid fa-cloud-arrow-up mr-2"></i>
              Upload Music
            </button>
            <button mat-menu-item (click)="logout()" matTooltip="Logout" aria-label="Logout">
              <i class="fa-solid fa-right-from-bracket mr-2"></i>
              Logout
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</nav>
