<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Left element for Home button -->
    <div class="d-flex align-items-center">
      <button class="btn navbar-button" 
              (click)="navigateToHome()" 
              matTooltip="Home" 
              aria-label="Home">
        <i class="fa-solid fa-house"></i>
        SoundBox
      </button>
    </div>

    <!-- Right elements -->
    <ul class="navbar-nav flex-row ms-auto">
      <li class="nav-item me-3 me-lg-1">
        <div *ngIf="!this.loginService.isAuthenticated()">
          <button class="btn navbar-button me-2" 
                  (click)="navigateToLogin()" 
                  matTooltip="Login" 
                  aria-label="Login">
            <i class="fa-solid fa-right-to-bracket mr-2"></i>
            Login
          </button>
          <button class="btn navbar-button" 
                  (click)="navigateToSignUp()" 
                  matTooltip="Sign Up" 
                  aria-label="Sign Up">
            <i class="fa-solid fa-user-plus mr-2"></i>
            Sign Up
          </button>
        </div>
        <div *ngIf="this.loginService.isAuthenticated()">
          <button class="btn navbar-button" 
                  [matMenuTriggerFor]="menu" 
                  aria-label="User Menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateToMyProfile()" matTooltip="Profile" aria-label="Profile">
              <i class="fa-solid fa-user mr-2"></i>
              Profile
            </button>
            <button mat-menu-item (click)="openUploadSongDialog()" matTooltip="Upload Music" aria-label="Upload Music">
              <i class="fa-solid fa-cloud-arrow-up mr-2"></i>
              Upload Music
            </button>
            <button mat-menu-item (click)="openCreatePlaylistDialog()" matTooltip="Create Playlist" aria-label="Create Playlist">
              <i class="fa-solid fa-headphones"></i>
              Create Playlist
            </button>
            <button mat-menu-item (click)="navigateToUserManagement()" matTooltip="User Management" aria-label="User Management">
              <i class="fa-solid fa-users"></i>
              User Management
            </button>
            <button mat-menu-item (click)="logout()" matTooltip="Logout" aria-label="Logout">
              <i class="fa-solid fa-right-from-bracket mr-2"></i>
              Logout
            </button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</nav>
