<div id="embeddedViewStyle" class="content-wrapper">
  <mat-card id="login-and-register-box" class="position-absolute top-50 start-50 translate-middle">
    <!-- Title -->
    <mat-card-title class="d-flex justify-content-center">
      Sign Up
    </mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
      <mat-card-content>
        <!-- Username -->
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
              <strong>Username is required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Password -->
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              <strong>Passwords do not match</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
              <strong>Passwords do not match</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Email -->
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"required>
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
              <strong>Email is required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Birthdate -->
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Date of birth (DD.MM.YYYY)</mat-label>
            <input matInput formControlName="birthDate" [matDatepicker]="picker"/>
            <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Enter date" aria-label="Enter date"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="registerForm.get('birthDate')?.hasError('required')">
              <strong>Date of Birth is required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Country -->
        <div class="d-flex justify-content-center">
          <mat-form-field class="inputFields">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required>
            <mat-error *ngIf="registerForm.get('country')?.hasError('required')">
              <strong>Country is required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <!-- Buttons -->
      <mat-card-actions class="d-flex justify-content-center">
        <div class="d-grid gap-2 col-8 mx-auto">
          <button mat-raised-button type="submit">
            Sign Up
          </button>
        </div>
      </mat-card-actions>
    </form>
    <button mat-button (click)="navigate()">
      Already have an account?
    </button>
  </mat-card>
  <!-- Space -->
  <div class="bottom-space"> </div>
</div>
